@font-face {
    font-family: HKGrotesk;
    src: url(/fonts/hk-grotesk/HKGrotesk-Regular.otf);
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}


@-webkit-keyframes jump {
    0%{
      -webkit-transform: translateY(0)  skewX(15deg);
      transform: translateY(0)  skewX(15deg);
    }
    50%{
      -webkit-transform: translateY(50%)  skewX(-15deg);
      transform: translateY(50%)  skewX(-15deg);
    }
    100%{
      -webkit-transform: translateY(0) skewX(-15deg);
      transform: translateY(0) skewX(-15deg);
    }
  }
  
  @keyframes jump {
    0%{
        -webkit-transform: translateY(0)  skewX(15deg);
        transform: translateY(0)  skewX(15deg);
      }
      50%{
        -webkit-transform: translateY(50%)  skewX(0);
        transform: translateY(50%)  skewX(0);
      }
      100%{
        -webkit-transform: translateY(0) skewX(115deg);
        transform: translateY(0) skewX(-15deg);
      }
    }
    
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    color: #FFEEDD;
}

body {
    color: #ede7dc;
    text-align: left;
    font-weight: 900;
    font-family: "HKGrotesk", sans-serif;
}

.section {
    padding: 1rem 1rem;
    width: 100vw;
    box-sizing: border-box;
    border-bottom: 2px solid #000;
}

.login {
    background: #249dc0;
    text-align: center;
}

.header {
    background: #ea4632;
    color: #FFEEDD;
    text-align: center;
}

.header > * {
    display: inline-block;
    
}

.header > marquee {
    position: absolute;
    left: -.7rem;
    top: 1rem;
    width: 100%;
    opacity: .5;
}

.header > marquee > * {
    display: inline-block;
}

#headertxt {
    position: relative;
}

#headertxt > * {
    position: relative;
}

.blink {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
}

.jump {
    animation: jump 2s steps(5, start) infinite alternate-reverse;
    -webkit-animation: jump 2s steps(5, start) infinite alternate-reverse;
}

.emoticons > * {
    display: inline-block;
    padding-right: 1rem;
}

.footer {
    background-color: orange;
    position: relative;
    bottom: 0;
    overflow: hidden;
    font-size: 0.5em;
}

.info {
    background: #91bfc0;
    text-align: center;
}

.tweets {
    background: #3451b2;
}

.about {
    background: #fb612d;
}

#avi {
    padding-right: 2rem;
    display: inline-block;
    vertical-align: middle;
}

#userNames {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

#loader {
    overflow: hidden;
    background: #ea4632;
    font-size: 72px;
    width: 100vw;
    height: 100vh;
}

#loaderDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}​

.tweets {
    background: #3451b2;
}

.tweets > * {
    padding-bottom: 0.5rem;
}

#graphs {
    height: 100%;
    width: 100%;
}

#stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


