@font-face {
    font-family: HKGrotesk;
    src: url(/fonts/hk-grotesk/HKGrotesk-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

body {
    color: #ede7dc;
    text-align: left;
    font-weight: 900;
    font-family: "HKGrotesk", sans-serif;
}

.section {
    padding: 2rem 1rem;
    width: 100vw;
    box-sizing: border-box;
    border-bottom: 2px solid #000;
}

.login {
    background: greenyellow;
    padding: 3rem 1rem 2rem 1rem;
}

.header {
    background: #ea4632;
    text-align: center;
}

.header > * {
    display: inline-block;
}


.emoticons > * {
    display: inline-block;
    padding-right: 1rem;
}

.footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.info {
    background: #91bfc0;
    text-align: center;
}

.tweets {
    background: #3451b2;
}

.about {
    background: #fb612d;
}

#avi {
    padding-right: 2rem;
    display: inline-block;
    vertical-align: middle;
}

#userNames {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

#loader {
    overflow: hidden;
    background: #ea4632;
    font-size: 72px;
    width: 100vw;
    height: 100vh;
}

#loaderDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}​

.tweets {
    background: #3451b2;
}

.tweets > * {
    padding-bottom: 0.5rem;
}

#graphs {
    height: 100%;
    width: 100%;
}

#stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


